body{
    color: red;
    background-color: black;
    font-size: 90px;
}
hr{
    color: red;
}


h1{
    text-align: center;
}
.liste{
     text-align: center;
}
.stup{
    color: white;
    text-align: center;
    text-decoration: underline;
}
.cannabis{
    color: green;
    text-align: center;
}
.shitp{
    color: white;
}
.centrage
{text-align: center;
}
.beuhp{
    color: white;
}
.cbdp{
    color: white;
}
.thcp{
    color: white;
}
.mdma{
   color: blue;
    text-align: center; 
}
.cachetonsp{
    color: white;
}
.hallucinogene{
    color: purple;
    text-align: center; 
}
.champisp{
    color: white;
}
.lsdp{
    color: white;
}
.dur{
   color: #FF499C ;
   text-align: center;
}
.crackp{
   color: white;
}
.cokep{
   color: white;
}
.methp{
   color: white;
}
.ketap{
   color: white;
}
.herop{
   color: white;
}
.tranquil{
   color: yellow;
   text-align: center;
}
.codep{
   color: white;
}
.etherp{
   color: white;
}
.a{
   color: green;
}
.b{
   color: blue;
}
.c{
   color: purple;
}
.d{
   color: #FF499C;
}
.e{
   color: yellow;
}
